<section class='post-section'>
  <div class='container'>
    <div class='row'>
      <div class='container post-card mb-4'>
        <div class='container-fluid post-card-header'>
          <div class='row'>
            <div class='col-md-6 d-flex align-items-center post-title'>
              <a
                id='post-link'
                href='/post/{{post.id}}'
                data-id='{{post.id}}'
              ><h2 class='ml-2 pd-1'>{{post.title}}</h2></a>
            </div>
            <div
              class='col-md-6 d-flex justify-content-end align-items-center post-user-details'
            >
              <p class='mt-2 mr-2 user-details'>Post by
                {{{post.user.username}}}
                on
                {{format_date post.date_created}}</p>
            </div>
          </div>
        </div>
        <div class='col-md-12 post-content'>
          <p class='mt-2'>{{{post.content}}}</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class='container'>
    <div class='row'>
      <div class='col-sm-5 col-md-6 col-12 pb-4'>
        <h1>Comments</h1>
        {{#each post.comments as |comment|}}
          <div class='comment mt-4 text-justify float-left'>
            <h4>{{user.username}}</h4>
            <span>- {{format_date comment.date_created}}</span>
            <br />
            <p>{{comment.comment}}</p>
          </div>
        {{/each}}
      </div>
      <div
        class='col-lg-4 col-md-5 col-sm-4 offset-md-1 offset-sm-1 col-12 mt-4'
      >
        <form class='new-comment-form'>
          <div class='form-group'>
            <h4>Leave a comment</h4>
            <label for='message'>Message</label>
            <textarea
              name='msg'
              id='msg'
              cols='40'
              rows='10'
              class='form-control'
            ></textarea>
          </div>
          <div class='form-group'>
            <button type='submit' id='post' class='btn'>Post Comment</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<script src='/js/comment.js'></script>