<section class='post-section'>
  <div class='container'>
    <div class='row'>
      <div class='container post-card mb-4'>
        <div class='container-fluid post-card-header'>
          <div class='row'>
            <div class='col-md-6 d-flex align-items-center post-title'>
              <h2 class='ml-2 pd-1'><a
                  id='post-link'
                  href='/post/{{post.id}}'
                >{{post.title}}</a></h2>
            </div>
            <div
              class='col-md-6 d-flex justify-content-end align-items-center post-user-details'
            >
              <p class='mt-2 mr-2 user-details'>Post by
                {{{post.user.username}}}
                on
                {{format_date post.date_created}}</p>
            </div>
          </div>
        </div>
        <div class='col-md-12 post-content'>
          <p class='mt-2'>{{{post.content}}}</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class='container'>
    <div class='row'>
      <div class='col-sm-5 col-md-6 col-12 pb-4'>
        <h1>Comments</h1>
        <div class='comment mt-4 text-justify float-left'>
          <h4>Jhon Doe</h4>
          <span>- 20 October, 2018</span>
          <br />
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus
            numquam assumenda hic aliquam vero sequi velit molestias doloremque
            molestiae dicta?</p>
        </div>
        <div class='text-justify darker mt-4 float-right'>
          <h4>Rob Simpson</h4>
          <span>- 20 October, 2018</span>
          <br />
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus
            numquam assumenda hic aliquam vero sequi velit molestias doloremque
            molestiae dicta?</p>
        </div>
        <div class='comment mt-4 text-justify'>
          <h4>Jhon Doe</h4>
          <span>- 20 October, 2018</span>
          <br />
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus
            numquam assumenda hic aliquam vero sequi velit molestias doloremque
            molestiae dicta?</p>
        </div>
        <div class='darker mt-4 text-justify'>
          <h4>Rob Simpson</h4>
          <span>- 20 October, 2018</span>
          <br />
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus
            numquam assumenda hic aliquam vero sequi velit molestias doloremque
            molestiae dicta?</p>
        </div>
      </div>
      <div
        class='col-lg-4 col-md-5 col-sm-4 offset-md-1 offset-sm-1 col-12 mt-4'
      >
        <form id='algin-form'>
          <div class='form-group'>
            <h4>Leave a comment</h4>
            <label for='message'>Message</label>
            <textarea
              name='msg'
              id=''
              msg
              cols='40'
              rows='10'
              class='form-control'
              style='background-color: black;'
            ></textarea>
          </div>
          <div class='form-group'>
            <button type='button' id='post' class='btn'>Post Comment</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>